h1, h2, h3, th {
  font-family: 'News Cycle', sans-serif;
  color: #002F2F;}
td {
  font-family: 'Istok Web', sans-serif;
  color: #046380;}
p {
  font-family: 'Istok Web', sans-serif;
  font-style: italic;
  color: #002F2F;}

